In [9]:
# Import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import sem
import seaborn as sns
import os

In [10]:
filepath = "/Users/serendipitousfun/Desktop/Project 2 ETL Group 4/ Resources/vaccinations.csv"

In [11]:
df = pd.read_csv(filepath)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1813965 entries, 0 to 1813964
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 442.9+ MB

In [13]:
df.head(25)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-02-24,AD,249.0,2390.0,NaN,NaN,249.0,2390.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-02-26,AD,0.0,NaN,NaN,NaN,136.0,2526.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-03-08,AD,49.0,2439.0,NaN,1172.0,1085.0,3611.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-03-10,AD,1211.0,3650.0,92.0,1264.0,1303.0,4914.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-03-15,AD,3448.0,7098.0,1.0,1265.0,3449.0,8363.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-03-19,AD,0.0,NaN,0.0,NaN,925.0,9288.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-04-04,AD,0.0,NaN,0.0,NaN,3152.0,12440.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-04-05,AD,2683.0,9781.0,3219.0,4484.0,2829.0,15269.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-04-11,AD,0.0,NaN,0.0,NaN,1822.0,17091.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-04-12,AD,0.0,NaN,0.0,NaN,1973.0,19064.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-04-19,AD,11952.0,21733.0,197.0,4681.0,7350.0,26414.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-04-26,AD,2089.0,23822.0,0.0,4681.0,2089.0,28503.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-05-03,AD,360.0,24182.0,18.0,4699.0,378.0,28881.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-05-10,AD,2749.0,26931.0,3.0,4702.0,2752.0,31633.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-05-17,AD,682.0,27613.0,2.0,4704.0,684.0,32317.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-05-31,AD,0.0,27613.0,3599.0,8303.0,3599.0,35916.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2021-06-07,AD,2922.0,30535.0,2635.0,10938.0,5557.0,41473.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2021-06-14,AD,4111.0,34646.0,5478.0,16416.0,9634.0,51107.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2021-06-21,AD,4021.0,38667.0,8182.0,24598.0,12158.0,63265.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2021-06-28,AD,3049.0,41716.0,2015.0,26613.0,5064.0,68329.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#pull data out by vacinne provider
df_totals = df.filter(['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered', 'cumulative_vaccine_doses_administered'], axis= 1)
df_totals.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0

In [15]:
df_pfizer = df.filter(['date', 'location_key', 'new_persons_vaccinated_pfizer', 'cumulative_persons_vaccinated_pfizer', 'new_persons_fully_vaccinated_pfizer', 'cumulative_persons_fully_vaccinated_pfizer', 'new_vaccine_doses_administered_pfizer', 'cumulative_vaccine_doses_administered_pfizer'], axis= 1)
df_pfizer.head()

,date,location_key,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,new_persons_fully_vaccinated_pfizer,cumulative_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,cumulative_vaccine_doses_administered_pfizer
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_moderna = df.filter(['date', 'location_key', 'new_persons_vaccinated_moderna', 'cumulative_persons_vaccinated_moderna', 'new_persons_fully_vaccinated_moderna', 'cumulative_persons_fully_vaccinated_moderna', 'new_vaccine_doses_administered_moderna', 'cumulative_vaccine_doses_administered_moderna'], axis= 1)
df_moderna.head()

,date,location_key,new_persons_vaccinated_moderna,cumulative_persons_vaccinated_moderna,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_janssen = df.filter(['date', 'location_key', 'new_persons_vaccinated_janssen', 'cumulative_persons_vaccinated_janssen', 'new_persons_fully_vaccinated_janssen', 'cumulative_persons_fully_vaccinated_janssen', 'new_vaccine_doses_administered_janssen', 'cumulative_vaccine_doses_administered_janssen'], axis= 1)
df_janssen.head()

,date,location_key,new_persons_vaccinated_janssen,cumulative_persons_vaccinated_janssen,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_sinovac = df.filter(['date', 'location_key', 'new_persons_vaccinated_sinovac', 'total_persons_vaccinated_sinovac', 'new_persons_fully_vaccinated_sinovac', 'total_persons_fully_vaccinated_sinovac', 'new_vaccine_doses_administered_sinovac', 'total_vaccine_doses_administered_sinovac'], axis= 1)
df_sinovac.head()

,date,location_key,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_sinovac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1813965 entries, 0 to 1813964
Data columns (total 8 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   date                                      object
 1   location_key                              object
 2   new_persons_vaccinated_sinovac            float64
 3   total_persons_vaccinated_sinovac          float64
 4   new_persons_fully_vaccinated_sinovac      float64
 5   total_persons_fully_vaccinated_sinovac    float64
 6   new_vaccine_doses_administered_sinovac    float64
 7   total_vaccine_doses_administered_sinovac  float64
dtypes: float64(6), object(2)
memory usage: 110.7+ MB

In [20]:
#add vaccination provider id column
df_totals['vaccination_provider_id'] = 1
df_totals.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,1
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,1
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,1
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,1
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,1

In [21]:
df_pfizer['vaccination_provider_id'] = 2
df_moderna['vaccination_provider_id'] = 3
df_janssen['vaccination_provider_id'] = 4
df_sinovac['vaccination_provider_id'] = 5

In [22]:
df_sinovac.head()

,date,location_key,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac,vaccination_provider_id
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN,5

In [23]:
#rename columns to merge data
df_pfizer.columns = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered', 'cumulative_vaccine_doses_administered', 'vaccination_provider_id']
df_pfizer.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN,2
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN,2
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN,2

In [24]:
df_moderna.columns = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered', 'cumulative_vaccine_doses_administered', 'vaccination_provider_id']
df_moderna.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN,3

In [25]:
df_janssen.columns = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered', 'cumulative_vaccine_doses_administered', 'vaccination_provider_id']
df_janssen.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN,4
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN,4
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN,4
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN,4
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN,4

In [26]:
df_sinovac.columns = ['date', 'location_key', 'new_persons_vaccinated', 'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered', 'cumulative_vaccine_doses_administered', 'vaccination_provider_id']
df_sinovac.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
1,2021-02-01,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
2,2021-02-10,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
3,2021-02-12,AD,NaN,NaN,NaN,NaN,NaN,NaN,5
4,2021-02-19,AD,NaN,NaN,NaN,NaN,NaN,NaN,5

In [32]:
#merge all dataframes 
merged_df = pd.concat([df_totals, df_pfizer, df_moderna, df_janssen, df_sinovac], sort=False)
merged_df.head(50)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,1
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,1
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,1
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,1
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,1
5,2021-02-24,AD,249.0,2390.0,NaN,NaN,249.0,2390.0,1
6,2021-02-26,AD,0.0,NaN,NaN,NaN,136.0,2526.0,1
7,2021-03-08,AD,49.0,2439.0,NaN,1172.0,1085.0,3611.0,1
8,2021-03-10,AD,1211.0,3650.0,92.0,1264.0,1303.0,4914.0,1
9,2021-03-15,AD,3448.0,7098.0,1.0,1265.0,3449.0,8363.0,1
10,2021-03-19,AD,0.0,NaN,0.0,NaN,925.0,9288.0,1
11,2021-04-04,AD,0.0,NaN,0.0,NaN,3152.0,12440.0,1
12,2021-04-05,AD,2683.0,9781.0,3219.0,4484.0,2829.0,15269.0,1
13,2021-04-11,AD,0.0,NaN,0.0,NaN,1822.0,17091.0,1
14,2021-04-12,AD,0.0,NaN,0.0,NaN,1973.0,19064.0,1
15,2021-04-19,AD,11952.0,21733.0,197.0,4681.0,7350.0,26414.0,1
16,2021-04-26,AD,2089.0,23822.0,0.0,4681.0,2089.0,28503.0,1
17,2021-05-03,AD,360.0,24182.0,18.0,4699.0,378.0,28881.0,1
18,2021-05-10,AD,2749.0,26931.0,3.0,4702.0,2752.0,31633.0,1
19,2021-05-17,AD,682.0,27613.0,2.0,4704.0,684.0,32317.0,1
20,2021-05-31,AD,0.0,27613.0,3599.0,8303.0,3599.0,35916.0,1
21,2021-06-07,AD,2922.0,30535.0,2635.0,10938.0,5557.0,41473.0,1
22,2021-06-14,AD,4111.0,34646.0,5478.0,16416.0,9634.0,51107.0,1
23,2021-06-21,AD,4021.0,38667.0,8182.0,24598.0,12158.0,63265.0,1
24,2021-06-28,AD,3049.0,41716.0,2015.0,26613.0,5064.0,68329.0,1
25,2021-07-12,AD,1292.0,43008.0,397.0,27010.0,1689.0,70018.0,1
26,2021-07-19,AD,5437.0,48445.0,6894.0,33904.0,12331.0,82349.0,1
27,2021-08-01,AD,2302.0,50747.0,1669.0,35573.0,3971.0,86320.0,1
28,2021-08-15,AD,297.0,51044.0,5043.0,40616.0,5340.0,91660.0,1
29,2021-08-29,AD,1866.0,52910.0,2392.0,43008.0,4258.0,95918.0,1
30,2021-09-26,AD,1402.0,54312.0,4712.0,47720.0,6114.0,102032.0,1
31,2021-10-03,AD,71.0,54383.0,589.0,48309.0,660.0,102692.0,1
32,2021-10-31,AD,616.0,54999.0,1226.0,49535.0,1842.0,104534.0,1
33,2021-12-05,AD,1096.0,56095.0,798.0,50333.0,1894.0,106428.0,1
34,2021-12-12,AD,533.0,56628.0,218.0,50551.0,9281.0,115709.0,1
35,2021-12-26,AD,457.0,57085.0,841.0,51392.0,1537.0,117246.0,1
36,2022-01-16,AD,558.0,57643.0,1654.0,53046.0,18175.0,135421.0,1
37,2022-01-23,AD,66.0,57709.0,58.0,53104.0,4772.0,140193.0,1
38,2022-02-06,AD,82.0,57791.0,104.0,53208.0,1769.0,141962.0,1
39,2022-02-13,AD,6.0,57797.0,42.0,53250.0,458.0,142420.0,1
40,2022-02-20,AD,8.0,57805.0,51.0,53301.0,8864.0,151284.0,1
41,2021-01-05,AE,NaN,NaN,NaN,NaN,NaN,826301.0,1
42,2021-01-06,AE,NaN,NaN,NaN,NaN,0.0,826301.0,1
43,2021-01-07,AE,NaN,NaN,NaN,NaN,61396.0,887697.0,1
44,2021-01-08,AE,NaN,NaN,NaN,NaN,53859.0,941556.0,1
45,2021-01-09,AE,NaN,NaN,NaN,NaN,78793.0,1020349.0,1
46,2021-01-10,AE,NaN,836568.0,NaN,250000.0,66219.0,1086568.0,1
47,2021-01-11,AE,0.0,NaN,0.0,NaN,80683.0,1167251.0,1
48,2021-01-12,AE,0.0,NaN,0.0,NaN,108401.0,1275652.0,1
49,2021-01-13,AE,0.0,NaN,0.0,NaN,118928.0,1394580.0,1

In [33]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9069825 entries, 0 to 1813964
Data columns (total 9 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   date                                   object
 1   location_key                           object
 2   new_persons_vaccinated                 float64
 3   cumulative_persons_vaccinated          float64
 4   new_persons_fully_vaccinated           float64
 5   cumulative_persons_fully_vaccinated    float64
 6   new_vaccine_doses_administered         float64
 7   cumulative_vaccine_doses_administered  float64
 8   vaccination_provider_id                int64
dtypes: float64(6), int64(1), object(2)
memory usage: 692.0+ MB

In [34]:
merged_df.sort_values(by=['date', 'location_key', 'vaccination_provider_id'])

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
169415,2020-01-25,AU,NaN,NaN,NaN,0.0,NaN,NaN,1
169415,2020-01-25,AU,NaN,NaN,NaN,NaN,NaN,NaN,2
169415,2020-01-25,AU,NaN,NaN,NaN,NaN,NaN,NaN,3
169415,2020-01-25,AU,NaN,NaN,NaN,NaN,NaN,NaN,4
169415,2020-01-25,AU,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...
170200,2022-03-20,AU,0.0,34715763.0,0.0,20893155.0,0.0,55608918.0,1
170200,2022-03-20,AU,NaN,NaN,NaN,NaN,NaN,NaN,2
170200,2022-03-20,AU,NaN,NaN,NaN,NaN,NaN,NaN,3
170200,2022-03-20,AU,NaN,NaN,NaN,NaN,NaN,NaN,4
170200,2022-03-20,AU,NaN,NaN,NaN,NaN,NaN,NaN,5

In [47]:
#FROM JOSEPH-- Shortened csv country list to match countries information csv
trial_df= merged_df.loc[merged_df['location_key'].isin(['US', 'CA', 'NG', 'CN', 'IN', 'ZW', 'EG', 'CI', 'AU', 'BR', 'MX'])]
trial_df
#trial_df

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,vaccination_provider_id
209293,2020-12-14,CA,NaN,5.0,NaN,NaN,NaN,5.0,1
209294,2020-12-15,CA,722.0,727.0,NaN,NaN,722.0,727.0,1
209295,2020-12-16,CA,2298.0,3025.0,NaN,NaN,2298.0,3025.0,1
209296,2020-12-17,CA,4254.0,7279.0,NaN,NaN,4254.0,7279.0,1
209297,2020-12-18,CA,4017.0,11296.0,NaN,NaN,4017.0,11296.0,1
...,...,...,...,...,...,...,...,...,...
731451,2022-03-15,US,NaN,NaN,NaN,NaN,NaN,NaN,5
731452,2022-03-16,US,NaN,NaN,NaN,NaN,NaN,NaN,5
731453,2022-03-17,US,NaN,NaN,NaN,NaN,NaN,NaN,5
731454,2022-03-18,US,NaN,NaN,NaN,NaN,NaN,NaN,5
731455,2022-03-19,US,NaN,NaN,NaN,NaN,NaN,NaN,5

In [48]:
trial_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4560 entries, 209293 to 731455
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   date                                   4560 non-null   object
 1   location_key                           4560 non-null   object
 2   new_persons_vaccinated                 911 non-null    float64
 3   cumulative_persons_vaccinated          912 non-null    float64
 4   new_persons_fully_vaccinated           2030 non-null   float64
 5   cumulative_persons_fully_vaccinated    2036 non-null   float64
 6   new_vaccine_doses_administered         2039 non-null   float64
 7   cumulative_vaccine_doses_administered  2043 non-null   float64
 8   vaccination_provider_id                4560 non-null   int64
dtypes: float64(6), int64(1), object(2)
memory usage: 356.2+ KB

In [52]:
#write merged data to new csv for database upload 
merged_df.to_csv('/Users/serendipitousfun/Desktop/Project 2 ETL Group 4/ Resources/transformed_vaccinations.csv')

In [50]:
#write merged data to new csv for database upload with only 11 countries
trial_df.to_csv('/Users/serendipitousfun/Desktop/Project 2 ETL Group 4/ Resources/trans_countries_vaccinations.csv', index=False)

In [3]:
#create vaccination id csv
data = [[1, 'vaccination_totals'], [2, 'pfizer'], [3, 'moderna'], [4, 'jassen'], [5, 'sinovac']]
vacc_id_df = pd.DataFrame(data, columns = ['vaccination_provider_id', 'vaccination_provider'])
vacc_id_df

   vaccination_provider_id vaccination_provider
0                        1   vaccination_totals
1                        2               pfizer
2                        3              moderna
3                        4               jassen
4                        5              sinovac

In [6]:
vacc_id_df.set_index('vaccination_provider_id')

                        vaccination_provider
vaccination_provider_id
1                         vaccination_totals
2                                     pfizer
3                                    moderna
4                                     jassen
5                                    sinovac

In [8]:
vacc_id_df.to_csv('/Users/serendipitousfun/Desktop/Project 2 ETL Group 4/ Resources/vaccination_id.csv', index=False)

In [51]:
from sqlalchemy import create_engine

In [62]:
# append data into postgres tables 
engine = create_engine('postgresql://postgres:password@34.133.202.52/postgres')
vacc_id_df.to_sql('vaccination_providers', engine, if_exists="append", index=False)

In [63]:
engine = create_engine('postgresql://postgres:password@34.133.202.52/postgres')
trial_df.to_sql('us_vacc_totals_by_provider', engine, if_exists="append", index=False)